.home-pic {
    width : 30%;
}

.divider-flipkart-work {
    background-image: url('../img/dividers/divider-flipkart-work.jpg')
}

.divider-flipkart-memories {
    background-image: url('../img/dividers/divider-flipkart-memories.jpg')
}

.divider-flipkart-why-flipkart {
    background-image: url('../img/dividers/divider-flipkart-why-flipkart.jpg')
}

.item p {
    font-size: 18px;
    font-weight: 200;
}

.pic-shadow {
    box-shadow: 1px 1px 5px 1px;
    border-radius:3px;
}