/* ===== ===== ===== ===== Custom Styles added by Vamsi Sangam ===== ===== ===== ===== */

body {
    background-image:url(../img/patterns/geometry.png);
    font-weight:300;
    text-shadow: 0px 0px 1px;   
}

.section-divider {
    box-shadow: 0px 0px 5px 1px;
    border-bottom-width:0px;
}