/* ===== ===== ===== ===== Custom Styles added by Vamsi Sangam ===== ===== ===== ===== */

body {
    background-image:url(../img/patterns/crossword.png);
    color: black;
}

.section-divider {
    box-shadow: 0px 0px 5px 1px;
    border-bottom-width:0px;
}