.movie-intro {
    height:250px;
    margin:30px;
}

.movie-icon {

}

.divider-english-movies {
    background-image:url('../img/dividers/divider-english-movies.jpg');
}

.divider-telugu-movies {
    background-image:url('../img/dividers/divider-telugu-movies.jpg');
}

.divider-hindi-movies {
    background-image:url('../img/dividers/divider-hindi-movies.jpg');
}